 .tittle{
     display: flex;
 }
 h1{
    position: absolute; 
 
    width: 485px;
  height: 230px;
  left: 156px;
  
  top: 207px;
  font-size: 64px;
  color: #FFFFFF;
 }
   



.player img{
  
   
    width: 556.01px;
    height: 438px;
  
   
  
 


} 



